<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                1. What we do </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <p>
                    Diam alienum oporteat ad vis, latine intellegebat cu his. Ei eros dicam commodo duo, an
                    assum meliore eam. In sed albucius dissentiet. Sit laudem graece malorum ne, at eam omnesque
                    expetenda pertinacia, tale meliore vim ea. Dolore legere deleniti ius
                    at, mea nibh discere perfecto ex. Mea ea iuvaret eripuit, eos no vivendo intellegat
                    definiebas, patrioque eloquentiam eos et.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                2. How we do it </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>
                    Nihil suscipit posidonium eos id. An cetero fierent insolens mel, ex sit rebum falli
                    erroribus. Ius in nemore dolorum officiis. Et vel harum dicant, vix eius persius an. Ex eam
                    malis postea, erat nihil consulatu nam ea. Ex quem dolores euripidis eum,
                    tempor aperiam voluptaria has ad. Ea est persecuti dissentiet voluptatibus, at illum malorum
                    minimum usu eum aeterno tritani.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                3. What we have done </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>
                    Vel purto oportere principes ne, ut mel graeco omnesque. Habeo justo congue mei cu, eu est
                    molestie sensibus, oratio tibique ad mei. Admodum consetetur cu eam, nec cu doming prompta
                    inciderint, ne vim ceteros mnesarchum scriptorem. Ex eam malis postea,
                    erat nihil consulatu nam ea. Ex quem dolores euripidis eum, tempor aperiam voluptaria has
                    ad. Et vel harum dicant vix.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                4. What we are going to do next </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>
                    Diam alienum oporteat ad vis, latine intellegebat cu his. Ei eros dicam commodo duo, an
                    assum meliore eam. In sed albucius dissentiet. Sit laudem graece malorum ne, at eam omnesque
                    expetenda pertinacia, tale meliore vim ea. Dolore legere deleniti ius
                    at, mea nibh discere perfecto ex. Mea ea iuvaret eripuit, eos no vivendo intellegat
                    definiebas, patrioque eloquentiam eos et.
                </p>
            </div>
        </div>
    </div>
</div>