{% load static %}
<div class="row">
    <div class="span12">
        <h4>{{ title }}</h4>
    </div>
    <div class="span2">
        <img src="{% static 'img/dummies/team1.jpg' %}" alt="" class="img-polaroid" />
        <div class="roles">
            <p class="lead">
                <strong>Seth Baah Kusi</strong>
            </p>
            <p>
                President - CO-Founder
            </p>
        </div>
    </div>
    <div class="span2">
        <img src="{% static 'img/dummies/team2.jpg' %}" alt="" class="img-polaroid" />
        <div class="roles">
            <p class="lead">
                <strong>Sixtus Dakurah</strong>
            </p>
            <p>
                Vice President - CO-Founder
            </p>
        </div>
    </div>
    <div class="span2">
        <img src="{% static 'img/dummies/team3.jpg' %}" alt="" class="img-polaroid" />
        <div class="roles">
            <p class="lead">
                <strong>William Agyapon</strong>
            </p>
            <p>
                Administrative Manager - CO-Founder
            </p>
        </div>
    </div>
    <div class="span2">
        <img src="{% static 'img/dummies/team4.jpg' %}" alt="" class="img-polaroid" />
        <div class="roles">
            <p class="lead">
                <strong>Yaw Asante</strong>
            </p>
            <p>
                Communications Manager - CO-Founder
            </p>
        </div>
    </div>
    <div class="span2">
        <img src="{% static 'img/dummies/team2.jpg' %}" alt="" class="img-polaroid" />
        <div class="roles">
            <p class="lead">
                <strong>Pasty Asamoah</strong>
            </p>
            <p>
                Programme Manager - CO-Founder
            </p>
        </div>
    </div>
</div>