{% load static %}
<div class="span6">
    <!-- start flexslider -->
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="{% static 'img/works/full/image-01-full.jpg' %}" alt="" />
            </li>
            <li>
                <img src="{% static 'img/works/full/image-02-full.jpg' %}" alt="" />
            </li>
            <li>
                <img src="{% static 'img/works/full/image-03-full.jpg' %}" alt="" />
            </li>
        </ul>
    </div>
    <!-- end flexslider -->
</div>